[user]
    email = tom.groenwoldt@gmail.com
    name = Tom Groenwoldt
    signingKey = 5697BAC9282C1FD4
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = helix
[alias]
    lg = log --graph --all --format=format:'%C(yellow)%h%C(reset) - %C(cyan)%ci%C(reset) %C(green)(%cr)%C(reset) %C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(bold white)- %cn%C(reset)%n' --abbrev-commit --date=relative
    pu = push origin -u
[safe]
    directory = /opt/flutter
[commit]
    gpgsign = true
