@import "colors.scss";

.workspaces {
	  border: 1px solid $border_col;
    padding: 0.5rem;
    background-color: $bg;
}

.workspace {
    margin: 0 0.25rem;
    padding: 0 0.7rem;
		font-size: 1.5rem;
}
